<div class="row">
    <div class="col s6">
      <h2>Ordered</h2>
    </div>
    <div class="col s6">
      <h2>Cooking</h2>
    </div>
</div>
<div class="row">
    <div class="col s6">
      <div data-ng-repeat="order in vm.orders">
<ul class="collection" data-ng-if="order.status === 'Ordered'">
    <li class="collection-item avatar">
      <img data-ng-src="{{order.fullInfo.image}}" alt="" class="circle">
      <span class="title">{{order.fullInfo.title}}</span>
      <span class="new badge red" data-badge-caption="">
        {{order.status}}
      </span>
      <span data-ng-click="vm.addToCooking(order, 'Cooking')" class="new badge red" data-badge-caption="">
          Start Cooking
        </span>
    </li>
  </ul>
</div>
    </div>

    <div class="col s6">
        <div data-ng-repeat="order in vm.orders">
            <ul class="collection" data-ng-if="order.status === 'Cooking'">
                <li class="collection-item avatar">
                  <img data-ng-src="{{order.fullInfo.image}}" alt="" class="circle">
                  <span class="title">{{order.fullInfo.title}}</span>
                  <span data-ng-click="vm.addToCooking(order)" class="new badge blue" data-badge-caption="">
                    {{order.status}}
                  </span>
                  <span data-ng-click="vm.addToCooking(order, 'Delivering')" class="new badge blue" data-badge-caption="">
                      Done
                    </span>
                </li>
              </ul>
            </div>
    </div>
  </div>