<div class="row">
    <div class="col s6">
      <h2 class="grey-text text-lighten-1">Ordered</h2>
    </div>
    <div class="col s6">
      <h2 class="grey-text text-lighten-1">Cooking</h2>
    </div>
</div>

<div class="row">
    <div class="col s6 center-align">
      <h4 data-ng-if="!vm.ordered.orders.length && !vm.orderedLoader" class="white-text">
        There are no any orders here at this moment.
      </h4>
        <div data-ng-if="vm.orderedLoader" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
      <div data-ng-repeat="order in vm.ordered.orders">
<ul class="collection hoverable">
    <li class="collection-item avatar">
      <div class="col s1">
        <img data-ng-src="{{order.fullInfo.image}}" alt="" class="circle">
      </div>
      <div class="col s8">
        <span class="title">{{order.fullInfo.title}}</span>
      </div>
      <div class="col s3">
      <span class="new badge orange" data-badge-caption="">
        {{order.status}}
      </span><br><br>
      <span data-ng-click="vm.changeOrderStatus(order, 'Cooking')" class="new badge green" data-badge-caption="">
          Start Cooking
        </span>
      </div>
    </li>
  </ul>
</div>
<div class="s 12 center-align">
<pagination
page="vm.pagination.page"
page-size="vm.pagination.perPage"
total="vm.ordered.count"
show-prev-next="true"
use-simple-prev-next="true"
dots="...."
hide-if-empty="true"
adjacent="2"
scroll-top="true"
pagination-action="vm.getOrdered({ page, perPage: vm.pagination.perPage })" />
</div>
    </div>

    <div class="col s6 center-align">
        <h4 data-ng-if="!vm.cooking.orders.length && !vm.cookingLoader" class="white-text">
          There are no any orders here at this moment.
        </h4>
        <div data-ng-if="vm.cookingLoader" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        <div data-ng-repeat="order in vm.cooking.orders">
            <ul class="collection hoverable">
                <li class="collection-item avatar">
                    <div class="col s1">
                  <img data-ng-src="{{order.fullInfo.image}}" alt="" class="circle">
                  </div>
                  <div class="col s8">
                  <span class="title">{{order.fullInfo.title}}</span>
                  </div>
                  <div class="col s3">
                  <span class="new badge blue" data-badge-caption="">
                    {{order.status}}
                  </span><br><br>
                  <span data-ng-click="vm.sendToDelivery(order)" class="new badge green" data-badge-caption="">
                      Dish Done
                    </span>
                    </div>
                </li>
              </ul>
            </div>
            <div class="s 12 center-align">
            <pagination
page="vm.pagination.page"
page-size="vm.pagination.perPage"
total="vm.cooking.count"
show-prev-next="true"
use-simple-prev-next="true"
dots="...."
hide-if-empty="true"
adjacent="2"
scroll-top="true"
pagination-action="vm.getCooking({ page, perPage: vm.pagination.perPage })" />
</div>
    </div>
  </div>