<div class="row white-text">
  <div data-ng-if="!vm.isLogged" class="col s12">
    <div class="container">
        <h3 class="grey-text text-lighten-1">Login first, to make new orders:</h3>
        <div class="row">
            <form name="clientLoginForm" class="col s6">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input data-ng-model="client.name" id="user_name" type="text" class="validate" name="name">
                  <label for="user_name">User Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <input data-ng-model="client.email" id="email" type="email" class="validate" name="email" required>
                  <label for="email" data-error="Type correct email adress">Email</label>
                </div>
              </div>
              <div class="row">
                    <button class="btn waves-effect waves-light" data-ng-click="vm.login(client)" ng-disabled="clientLoginForm.$invalid">Login
                            <i class="material-icons right">send</i>
                          </button>
                </div>
            </form>
          </div>
    </div>
  </div>

  <div data-ng-if="vm.isLogged" class="col s12">

      <div data-ng-if="!vm.clientInfo._id" class="progress">
          <div class="indeterminate"></div>
      </div>

  <div data-ng-if="vm.clientInfo._id">
  <div class="col s6 center-align"> 

    <account-component client-info="vm.clientInfo" is-logged="vm.isLogged" client-name="vm.clientName" add-balance="vm.addBalance()"></account-component><br>

    <menu-component client-info="vm.clientInfo"></menu-component>
    
  </div>

  <div class="col s6">
    <div class="container">
      <orders-component is-logged="vm.isLogged" client-info="vm.clientInfo"></orders-component>
    </div>
  </div>
</div>
</div>
</div>